---
on: # yamllint disable-line rule:truthy
  push:
    tags: ["v*.*.*"]

jobs:
  publish:
    name: Publish Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: "3.13"
      - name: Install the project dependencies
        run: uv sync --locked --all-groups
      - name: Build the project
        run: make build
      - name: Publish the package to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: test-db-${{ github.ref_name }}
          path: dist/
